.wrapper {
    display: flex;
    flex-wrap: wrap;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(150px, auto);
  }
  
  header, footer {
    padding: 3em;
    margin-left: 5px;
    margin-right: 5px;
    flex: 0 1 100%;
    grid-column: 1 / -1;
    text-align: center;
    background-color: rgba(175, 186, 202, 1);
  }
  
  .box {
    border-radius: 5px;
    padding: 3em;
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 300px;
    h2 {
        font-weight: bold;
    }
  }
  
  .wrapper > * {
    margin-bottom: 10px;
  }
  
  @supports (display: grid) {
    .wrapper > * {
      margin: 0;
    }
  }
  
  .red {
    background-color: rgba(220, 83, 81, 1);
  }
  
  .green {
    background-color: rgba(171, 189, 187, 1);
  }
  
  .blue {
    background-color: rgba(214, 223, 222, 1);
  }
  
  .purple {
    background-color: rgba(200, 212, 210, 1);
  }
  
  .yellow {
    background-color: rgba(228, 234, 234, 1);
  }
  
  .violet {
    background-color: rgba(213, 118, 211, 1);
  }
  
  .orange {
    background-color: rgba(213, 151, 46, 1);
  }
  
  .turquoise {
    background-color: rgba(105, 203, 217, 1);
  }
