
<ion-header>
  <ion-toolbar>
    <ion-title>
      Colour
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <header>
       <h1> Colour CSS </h1>
    </header>

    <div class="box red bounce animated infinite">
       <h2></h2>
       <p></p>
    </div>

    <div class="box green swing animated infinite">
      <h2></h2>
      <p></p>
   </div>
   
   <div class="box purple shake animated infinite">
      <h2></h2>
      <p></p>
   </div>

   <div class="box blue flash animated infinite">
      <h2></h2>
      <p></p>
   </div>

   <div class="box yellow tada animated infinite">
       <h2></h2>
       <p></p>
    </div>

    <div class="box orange rubberBand animated infinite">
       <h2></h2>
       <p></p>
    </div>

    <div class="box violet jello animated infinite">
       <h2></h2>
       <p></p>
    </div>

    <div class="box turquoise wobble animated infinite">
       <h2></h2>
       <p></p>
    </div>

    <footer></footer>
 </div>
</ion-content>
